@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('../fonts/fonts.css');
body {
  background-color: #cccccc;
}
h1 {
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-family: 'Spirax', cursive;
  color: #1588d4e1;
  /* color: #d415d4e1; */
}